section {
    background-color: Lavender;
}
.section-title {
    font-size: 24px;
    color: #C2B280 ;
}

.resume-link {
    text-decoration: none;
    color: #C2B280;
    margin-bottom: 10px;
    display: block;
}

.proficiencies-title {
    font-size: 20px;
    color: #C2B280;
}

.proficiencies-list {
    list-style: none;
    padding-left: 0;
    font-size: 18px;
}

.proficiency {
    margin-top: 20px;
}

.sub-list {
    list-style: disc;
    margin-left:  20px;
}